.settings-school-box {
  background-color: white;
  text-align: center;
  color: #876ac7;
  /* box shadow*/
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  height: auto;
  width: auto;
  margin-left: auto !important;
  /* margin-right: auto; */
}

.profile-school-box {
  background-color: #4e3d73;
  text-align: center;
  color: white;
  /* box shadow*/
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  height: auto;
  width: auto;
}

.profile-school-container {
  text-align: left;
}

.icon-profile-school-valid {
  font-size: 30px;
  color: #d4c4fb;
}

.icon-profile-school-invalid {
  font-size: 30px;
  color: rgb(240, 78, 78);
}

.overlay-school {
  position: fixed;
  display: block;
  width: 95%;
  height: 600px;
  top: 100px;
  left: 20px;
  right: 0;
  bottom: 20px;
  background-color: rgb(135, 109, 199, 0.95);
  z-index: 2;
  border: dotted 5px #d4c4fb;
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  color: white;
}

.icon-field-school {
  background-color: #d4c4fb !important;
}
.icon-field-school:hover {
  background-color: #876ac7 !important;
}
