.footer-wrapper {
  /* position: ; */
  padding: 10px 10px 0px 10px;
  bottom: 0;
  /* width: 100%; */
  /* Height of the footer*/
  height: auto;
  background: #dafbc6;
  background: -webkit-linear-gradient(left, #dafbc6, #d4c4fb);
  background: -moz-linear-gradient(left, #dafbc6, #d4c4fb);
  background: -ms-linear-gradient(left, #dafbc6, #d4c4fb);
  background: -o-linear-gradient(left, #dafbc6, #d4c4fb);
  background: linear-gradient(to right, #dafbc6, #d4c4fb);
  text-align: center;
}

@media (max-width: 767px) {
  h4 {
    font-size: 18px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 20px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h4 {
    font-size: 22px !important;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 22px !important;
  }
}
