/* NAVHOME */
.color-nav {
  /* gradient de 2 couleurs */
  background: #d4c4fb;
  background: -webkit-linear-gradient(left, #d4c4fb, #dafbc6);
  background: -moz-linear-gradient(left, #d4c4fb, #dafbc6);
  background: -ms-linear-gradient(left, #d4c4fb, #dafbc6);
  background: -o-linear-gradient(left, #d4c4fb, #dafbc6);
  background: linear-gradient(to right, #d4c4fb, #dafbc6);
}

/* Spin clockwise */
.spinnerClock {
  font-size: 25px;
  color: #d4c4fb;
  animation: spinClock infinite 5s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spinClock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Spin counter-clockwise */
.spinner {
  font-size: 25px;
  color: #dafbc6;
  animation: spin infinite 5s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.custom-hover {
  font-size: larger;
}

.custom-hover:hover,
.custom-hover:focus {
  background-image: none;
  background: #d4c4fb;
  background: -webkit-linear-gradient(right, #d4c4fb, #dafbc6);
  background: -moz-linear-gradient(right, #d4c4fb, #dafbc6);
  background: -ms-linear-gradient(right, #d4c4fb, #dafbc6);
  background: -o-linear-gradient(right, #d4c4fb, #dafbc6);
  background: linear-gradient(to left, #d4c4fb, #dafbc6);
}

.font {
  font-family: "Caveat Brush", cursive;
}

.icon-home {
  color: black;
}

.icon-home:hover {
  color: #637259;
  background-color: #d4c4fb;
  border-radius: 35%;
}

.jumbotron {
  background-color: white !important;
  height: auto;
  width: auto;
}

.card-bg {
  border: none !important;
  width: auto;
}

.text-bubble {
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.card-overlay {
  display: flex;
}

.list-features {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.list-features > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* PAGE SEPARATOR 1 */
.custom-shape-divider-top-1618878871 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1618878871 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 122px;
}

.custom-shape-divider-top-1618878871 .shape-fill {
  fill: #dafbc6;
}
/* END PAGE SEPARATOR */

/* PAGE SEPARATOR 2 */
.custom-shape-divider-top-1618879240 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1618879240 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 122px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1618879240 .shape-fill {
  fill: #d4c4fb;
}
/* END PAGE SEPARATOR */
@media (min-width: 1400px) {
  .img-trackie-home {
    width: 850px;
  }

  .list-features {
    font-size: 25px;
    text-align: center !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .img-trackie-home {
    width: 550px;
  }

  .list-features {
    font-size: 23px;
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .img-trackiesol-home {
    width: 300px;
  }

  .img-features-home {
    width: 220px;
  }

  .h1-title-home {
    font-size: 5.5em;
    font-weight: 300;
    line-height: 1.2;
  }

  .h4-title-home {
    font-size: 25px !important; /*1.5em;*/
    font-weight: 500;
    line-height: 1.2;
  }

  .h2-title-home {
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1.2;
  }

  .spinnerClock {
    font-size: 40px;
  }
  .spinner {
    font-size: 40px;
  }

  .h4-title-features {
    font-size: 2rem !important;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  .green-star-features {
    color: #aac499;
    font-size: 15px;
  }

  .purple-star-features {
    color: #876ac7;
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .img-trackie-home {
    width: 450px;
  }

  .img-trackiesol-home {
    width: 250px;
  }

  .img-features-home {
    width: 220px;
  }

  .h1-title-home {
    font-size: 4.5em;
    font-weight: 300;
    line-height: 1.2;
  }

  .h4-title-home {
    font-size: 23px !important; /* 1.4em;*/
    font-weight: 500;
    line-height: 1.2;
  }

  .h2-title-home {
    font-size: 3.3em;
    font-weight: 300;
    line-height: 1.2;
  }

  .spinnerClock {
    font-size: 36px;
  }
  .spinner {
    font-size: 36px;
  }

  .h4-title-features {
    font-size: 1.8rem !important;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .list-features {
    font-size: 23px;
    text-align: center !important;
  }

  .green-star-features {
    color: #aac499;
    font-size: 15px;
  }

  .purple-star-features {
    color: #876ac7;
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-trackie-home {
    width: 350px;
  }

  .img-trackiesol-home {
    width: 220px;
  }

  .img-features-home {
    width: 200px;
  }

  .h1-title-home {
    font-size: 4em;
    font-weight: 300;
    line-height: 1.2;
  }

  .h4-title-home {
    font-size: 20px !important;
    font-weight: 500;
    line-height: 1.2;
  }

  .h2-title-home {
    font-size: 3.1em;
    font-weight: 300;
    line-height: 1.2;
  }

  .spinnerClock {
    font-size: 34px;
  }
  .spinner {
    font-size: 34px;
  }

  .h4-title-features {
    font-size: 1.6rem !important;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .list-features {
    font-size: 20px;
    text-align: center;
  }

  .green-star-features {
    color: #aac499;
    font-size: 12px;
  }

  .purple-star-features {
    color: #876ac7;
    font-size: 12px;
  }
}

@media (min-width: 10px) and (max-width: 767px) {
  .img-trackie-home {
    width: 250px;
  }
  .h1-title-home {
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1.2;
  }

  .h4-title-home {
    font-size: 18px !important;
    font-weight: 500;
    line-height: 1.2;
  }

  .img-trackiesol-home {
    width: 200px;
  }

  .img-features-home {
    width: 150px;
  }

  .h2-title-home {
    font-size: 3.1em;
    font-weight: 300;
    line-height: 1.2;
  }

  .spinnerClock {
    font-size: 32px;
  }
  .spinner {
    font-size: 32px;
  }

  .h4-title-features {
    font-size: 1.5rem !important;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .list-features {
    font-size: 18px;
    text-align: center;
  }

  .green-star-features {
    color: #aac499;
    font-size: 12px;
  }

  .purple-star-features {
    color: #876ac7;
    font-size: 12px;
  }
}
