.dash-wrapper {
  background-color: #dafbc6;
}

.cadre-title {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  /* width: 200px; */
  border: solid 5px #94ac85;
  border-style: outset; /*ridge*/
  background-color: #f8f9f1;
  text-align: center;
}

.card-pie-chart {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* height: 60vh !important; */
  /* width: 500px; */
}

.chart-line {
  height: 200px !important;
  width: 550px !important;
}

.days {
  color: #dafbc6;
  font-size: larger;
  background-color: #637259;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .col-timer,
  .col-timer-text {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-timer {
    text-align: right;
  }
  .col-timer-text {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-timer {
    text-align: right;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .col-timer {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .col-timer {
    text-align: right;
  }
}
